image:
  repository: ghcr.io/networking-incubator/coraza-kubernetes-operator
  tag: dev
  pullPolicy: IfNotPresent

resources:
  limits:
    cpu: 500m
    memory: 128Mi
  requests:
    cpu: 10m
    memory: 64Mi

istio:
  revision: "coraza"

nodeSelector: {}
tolerations: []
affinity: {}
imagePullSecrets: []
