apiVersion: waf.k8s.coraza.io/v1alpha1
kind: Engine
metadata:
  name: coraza
spec:
  ruleSet:
    name: default-ruleset
  failurePolicy: fail
  driver:
    istio:
      wasm:
        image: "oci://ghcr.io/networking-incubator/coraza-proxy-wasm:179ea90b2617f557f805fe672daf880c14c6b8b7"
        mode: gateway
        workloadSelector:
          matchLabels:
            gateway.networking.k8s.io/gateway-name: coraza-gateway
        ruleSetCacheServer:
          pollIntervalSeconds: 5
