apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: coraza-gateway
  labels:
    istio.io/rev: "coraza"
  ## Uncomment below if you do not want to use LoadBalancer service type
  #annotations:
  #  networking.istio.io/service-type: ClusterIP
spec:
  gatewayClassName: istio
  listeners:
    - name: http
      port: 80
      protocol: HTTP
      allowedRoutes:
        namespaces:
          from: All
