name: PR golangci-lint

on:
  pull_request:
    types: [opened, edited, synchronize, reopened]

permissions: {}

jobs:
  golangci:
    name: kube-api-lint
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # tag=v6.0.2
        name: Checkout code
        with:
          persist-credentials: false
      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # tag=v6.2.0
        with:
          go-version-file: 'go.mod'
      - name: run api linter
        run: make lint.api
